@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: var(--color-gray-700);

  &__panel {
    position: absolute;
    max-width: 736px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    bottom: -85px;
    padding: 0 18px;

    @include media-max($breakpoint-mobile) {
      bottom: -185px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    height: 54px;

    @include media-max($breakpoint-mobile) {
      height: auto;
      align-items: normal;
      flex-direction: column-reverse;
    }
  }

  &__button {
    transition: background-color 0.1s ease-in-out, scale 0.1s ease-in-out;


    &--sort {
      min-width: 90px;
      background-color: var(--color-purple-dark);
    }

    &--sort:hover {
      background-color: color-mix(in srgb, var(--color-purple-dark) 80%, black);
    }

    &:active {
      scale: 0.98;
    }

    &--create {
      background-color: var(--color-blue-dark);
    }

    &--create:hover {
      background-color: color-mix(in srgb, var(--color-blue-dark) 80%, black);
    }

  }

  &__form {
    flex: 1 0 auto;
    display: flex;
    gap: 8px;
    height: 100%;

    @include media-max($breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &__input-create {
    flex: 1 0 auto;
  }

  &__input-search {
    flex: 1 0 auto;

    @include media-max($breakpoint-mobile) {
      flex: 1 1 auto;
      max-width: 100%;
      min-width: 0;
    }
  }

  &__select-filter {
    @include media-max($breakpoint-mobile) {
      flex: 1 1 auto;
      max-width: 100%;
      min-width: 140px;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 40px;
    min-width: 0;
  }

}




