@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: var(--color-gray-700);
}




