.todo-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-500);
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
  padding: 16px;
  gap: 16px;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__heading--text {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: var(--color-purple-dark);
    text-align: center;

    span {
      color: var(--color-blue)
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-inline: 32px;
  }

  &__status {
    display: flex;
    gap: 8px;
  }

  &__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: var(--color-gray-100);
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-gray-200);
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
  }

  &__button {
    height: 45px;

    &--edit {
      flex: 1;
      background-color: var(--color-blue-dark);
    }

    &--edit:hover {
      background-color: var(--color-blue-dark-80);
    }

    &--delete {
      flex: 1;
      background-color: var(--color-danger);
    }

    &--delete:hover {
      background-color: var(--color-danger-80);
    }

  }
}