.todo-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 16px;
  background-color: var(--color-gray-500);
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);

  &-text {
    margin-right: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;

    &--completed {
      color: var(--color-gray-300);
      text-decoration: line-through;
    }
  }

  &-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      transition: stroke 0.1s ease-in-out;
    }

    &:hover:not(:disabled) {
      svg {
        stroke: var(--color-gray-100);
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}