.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__loader {
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &__loader--fullscreen {
    border: 10px solid transparent;
    border-top-color: var(--color-blue-dark);
  }

  &__loader--small {
    border: 3px solid transparent;
    border-top-color: var(--color-gray-100);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}